h2 {
  margin-top: 30px;
}


i {
  color: $greytext;
}

a {
  color: $greytext;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-dashboard-container {
  border: 1px solid #CED4DA;
  padding: 25px;
  margin-top: 30px;
  width: 80%;
  box-shadow: 0 0 0px rgba(0,0,0,0.2);
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 40px;
  padding: 0px 20px;
}

.dashboard-left-top {
  display: flex;
  flex-direction: row;
}

.create-booking-card {
  width: 50%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #CED4DA;
  padding: 25px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

  .btn-ghost {
    margin-top: 20px;
  }

  input {
    text-align: center;
  }
}

#availability-info {
  margin-top: 10px;
  font-size: 12px;
}

.user-balance-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #CED4DA;
  padding: 25px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  justify-content: space-between;
  margin-left: 10px;
}

.calendar-container {
  margin-top: 20px;
  align-items: center;

}

.simple-calendar {
  border-radius: 15px;
  width: auto;
  height: auto;
  border: 1px solid #CED4DA;

  .day {
    height: 40px;
    width: 43px;
    border: 1px solid #ddd;
    border-top-color: #dddddd;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #dddddd;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #dddddd;
    border-left-style: solid;
    border-left-width: 1px;
    background: white;
  }

  .calendar-heading {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #4A4A4A;
    color: $white;

    a {
      color: $white;
    }
  }

  .prev-month, .next-month {
    background: $greybackground !important;
    color: #4A4A4A;
  }

  .today {
    background: none;
    border: 2px solid blue;
  }

  .table {
    margin-bottom: 0;
    border: none !important;
    border-bottom-width: none;

    th, td {
      text-align: center;
    }

    tbody {

      tr:last-child {

        border-bottom: none !important;

        td:first-child {
          border-bottom: none !important;
          border-left: none !important;
          border-bottom-left-radius: 15px;
        }

        td:last-child {
          border-bottom: none !important;
          border-bottom-right-radius: 15px;
          border-right: none !important;
        }
      }
    }
  }
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0px 20px;
}

.bookings-holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.bookings-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #4A4A4A;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  justify-content: space-between;
  align-items: center;

  button {
    all: unset;
  }
}
