.dashboard-left {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 20px;
}

.user-balance-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #4A4A4A;
  padding: 50px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.calendar-container {
  margin-top: 20px;
  align-items: center;

}

.simple-calendar {
  border-radius: 15px;
  width: auto;
  height: auto;
  border: 1px solid #4A4A4A;

  .day {
    height: 40px;
    width: 43px;
    border: 1px solid #ddd;
    border-top-color: #dddddd;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #dddddd;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #dddddd;
    border-left-style: solid;
    border-left-width: 1px;
    background: white;
  }

  .calendar-heading {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #4A4A4A;
    color: $white;

    a {
      color: $white;
    }
  }

  .prev-month, .next-month {
    background: $greybackground !important;
    color: #4A4A4A;
  }

  .today {
    background: none;
    border: 2px solid blue;
  }

  .table {
    margin-bottom: 0;
    border: none !important;
    border-bottom-width: none;

    th, td {
      text-align: center;
    }

    tbody {

      tr:last-child {

        border-bottom: none !important;

        td:first-child {
          border-bottom: none !important;
          border-left: none !important;
          border-bottom-left-radius: 15px;
        }

        td:last-child {
          border-bottom: none !important;
          border-bottom-right-radius: 15px;
          border-right: none !important;
        }
      }
    }
  }
}

.dashboard-right {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.bookings-card {

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #4A4A4A;
  padding: 50px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
