.home-banner {
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
}

.banner-message {
  width: 50vw;
  height: 70vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;

  h2 {
    font-size: 42px;
    font-family: $body-font;
    margin-bottom: 1.5rem;
  }
}

.banner-image-container {
  background-image: asset-url("banner.jpg");
  background-size: cover; /* or "contain" */
  height: 70vh;
  width: 50vw;
}

.about-images-container {
  margin-top: 40px;
  display: flex;
  height: 70vh;
  justify-content: space-between;

}

.home-about {
  margin-bottom: 50px;
}

.address-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 300px;

  p {
    margin-bottom: 0px;
  }
}

.home-location-contents {
  margin-bottom: 20px;
}


.home-location-contents {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

.address-container {
  border-radius: 10px;
  border: 1px solid #CED4DA;
}

.mapbox-container {
  border-radius: 10px;
  border: 1px solid #CED4DA;
}
