.bookings-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #CED4DA;
  padding: 25px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-bottom: 20px;

  h2 {
    margin: 0 0 20px 0;
  }

  button {
    all: unset;
  }

}
