<div>
  <div>
    <h2>Booking Confirmed</h2>
    <p><%= @user.first_name %> your booking for <%= @booking.date.strftime("%-d") %> <%= @booking.date.strftime("%B") %> <%= @booking.date.strftime("%Y") %> has been confirmed ✌️ </p>
  </div>
</div>
