<div class="home-banner">
    <div class="banner-message">
      <h2>Co-working space in the heart of Stockbridge</h2>
      <%= link_to "Book Desk", root_path, class: 'btn-ghost' %>
    </div>
    <div class="banner-image-container"></div>
</div>
<div class="container">
  <div class="home-about">
    <h2>ABOUT</h2>
    <div><p>The 66A Club is a co-working space designed for creative professionals, freelancers and entrepreneurs. We are not just a beautiful space but aim to be a valued part of the vibrant Stockbridge community, supporting collaboration and _________________________</p></div>
    <div class="about-images-container">
      <%= image_tag "about1.jpg" %>
      <%= image_tag "about2.jpg" %>
      <%= image_tag "about3.jpg" %>
    </div>
  </div>
  <div class="home-location">
    <h2>LOCATION</h2>
    <div>
      <div class="address-container">
        <p>66A St Stephen Street</p>
        <p>Edinburgh</p>
        <p>EH3 5AQ</p>
        <br>
        <p>Opening Hours</p>
        <p>Daily 9 - 5</p>
      </div>
      <div>
      </div>
    <div>
  </div>
</div>
