<div class="home-banner">
    <div class="banner-message">
      <h2>A co-working space in the heart of Stockbridge, Edinburgh</h2>
      <%= link_to "Contact", contact_path, class: 'btn-ghost' %>
    </div>
    <div class="banner-image-container"></div>
</div>
<div class="container">
  <div class="home-about">
    <div class="home-about-image">
      <%= image_tag("about2.jpg") %>
    </div>
    <div class="home-about-text">
      <h2>Our office studio is perfect for creative professionals and freelancers</h2>
      <h2>We have 8 desk spaces with simple monthly rolling contracts for residents.</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="home-deskmap">
    <%= image_tag("floor-plan.png") %>
  </div>
  <div class="enquiry-container">
    <h2>To enquire about our desk spaces, please contact info@kinda.works</h2>
  </div>
</div>
