<div class="home-banner">
    <div class="banner-message">
      <h2>A co-working space in the heart of Stockbridge, Edinburgh</h2>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn-ghost' %>
    </div>
    <div class="banner-image-container"></div>
</div>
<div class="container">
  <div class="home-about">
    <div class="home-about-image">
      <%= image_tag("about2.jpg") %>
    </div>
    <div class="home-about-text">
      <h2>Our office studio is perfect for creative professionals and freelancers</h2>
      <p>Within our co-working space we have 8 desk spaces, with 4 available to book. All bookings come with full access to kitchen and wifi facilities.</p>
      <p>You can choose from a month to month rolling contract or visit on a hot desk basis.</p>
      <%= link_to "Pricing", pricing_path, class: 'btn-ghost' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="home-deskmap">
    <%= image_tag("floor-plan.png") %>
  </div>
  <div class="enquiry-container">
    <h2>To enquire about our desk spaces, please contact info@kinda.works</h2>
  </div>
</div>
