<div class="home-banner">
    <div class="banner-message">
      <h2>A Co-working space in the heart of Stockbridge, Edinburgh</h2>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn-ghost' %>
    </div>
    <div class="banner-image-container"></div>
</div>
<div class="container">
  <div class="home-about">
    <div class="home-about-image">
      <%= image_tag("about2.jpg", width: 400, height: 550) %>
    </div>
    <div class="home-about-text">
      <h2>Our office studio is perfect for creative professionals, freelancers and entrepreneurs</h2>
      <div>
        <p>Within our co-working space we have 8 desk spaces, with 4 available to book. All bookings come with full access to kitchen and wifi facilities.</p>
        <p>You can choose from a month to month rolling contract or visit on a hot desk basis.</p>

        <p>If you are looking for a hot desk a few days a week, you can book a block of 10 days and get a 20% discount on the daily hot desk rate.</p>
      </div>
    </div>
  </div>
  <div class="home-deskmap">
  <%= image_tag("floor-plan.png", width: 600, height: 300) %>
  </div>
  <div class="home-location">
    <div class="home-location-contents">
      <div class="address-container">
        <h2>To enquire about our desk spaces, please contact harris@shoptreen.com</h2>
      </div>
    </div>
  </div>
</div>
