<div class="container">
  <div class="pricing-cards-container">
    <div class="pricing-card">
      <div>
        <h3>1 Day</h3>
        <h2>£18</h2>
        <p>Book a desk for one day in advance</p>
      </div>
      <div>
        <ul>
          <li><i class="fa-solid fa-check"></i>Allocated desk</li>
          <li><i class="fa-solid fa-check"></i>Access during office hours</li>
          <li><i class="fa-solid fa-check"></i>All inclusive - includes WiFi and services</li>
        </ul>
        <%= link_to "Contact", root_path, class: 'btn-ghost' %>
      </div>
    </div>
    <div class="pricing-card">
      <div>
        <h3>10 Day</h3>
        <h2>£150</h2>
        <p>Get 20% of when you book a block of 10 days and use these up at anytime</p>
      </div>
      <div>
        <ul>
          <li><i class="fa-solid fa-check"></i>Allocated desk</li>
          <li><i class="fa-solid fa-check"></i>Access during office hours</li>
          <li><i class="fa-solid fa-check"></i>All inclusive - includes WiFi and services</li>
        </ul>
        <%= link_to "Contact", root_path, class: 'btn-ghost' %>
      </div>
    </div>
        <div class="pricing-card">
      <div>
        <h3>Monthly</h3>
        <h2>£250</h2>
        <p>Book monthly in advance and get a permanent desk and 24/7 access</p>
      </div>
      <div>
        <ul>
          <li><i class="fa-solid fa-check"></i>Permanent desk</li>
          <li><i class="fa-solid fa-check"></i>24/7/365 access</li>
          <li><i class="fa-solid fa-check"></i>Locker storage</li>
          <li><i class="fa-solid fa-check"></i>All inclusive - includes WiFi and services</li>
        </ul>
        <%= link_to "Contact", root_path, class: 'btn-ghost' %>
      </div>
    </div>
  </div>
</div>
