<div class="container">
  <div class="pricing-cards-container">
    <div class="pricing-card">
      <div>
        <h3>Daily</h3>
        <h1>£18</h1>
        <p>Book a desk anytime</p>
      </div>
      <div class="pricing-card-list">
        <div class="list-item">
          <i class="fa-solid fa-check"></i>
          <div>Allocated desk</div>
        </div>
        <div class="list-item">
          <i class="fa-solid fa-check"></i>
          <div>Access during office hours</div>
        </div>
        <div class="list-item">
          <i class="fa-solid fa-check"></i>
          <div>All inclusive - includes WiFi and services</div>
        </div>
      </div>
      <%= link_to "Book", user_dashboard_path, class: 'btn-ghost' %>
    </div>
    <div class="pricing-card">
      <div>
        <h3>Monthly</h3>
        <h1>£250</h1>
        <p>Your very own desk space</p>
      </div>
      <div class="pricing-card-list">
        <div class="list-item">
          <i class="fa-solid fa-check"></i>
          <div>Permanent desk</div>
        </div>
        <div class="list-item">
          <i class="fa-solid fa-check"></i>
          <div>24/7/365 access</div>
        </div>
        <div class="list-item">
          <i class="fa-solid fa-check"></i>
          <div>Locker storage</div>
        </div>
        <div class="list-item">
          <i class="fa-solid fa-check"></i>
          <div>All inclusive - includes WiFi and services</div>
        </div>
      </div>
      <%= link_to "Contact", contact_path, class: 'btn-ghost' %>
    </div>
  </div>
</div>
