.footer {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #CED4DA;

  p {
    margin: 0px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.footer-visit {
  width: 15%;
  margin-right: 50px;

  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
  }
}

.footer-opening-times {
  width: 25%;

  table {
    border-collapse: separate;
  }


  @media (max-width: 768px) {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
      width: 50%;
    }
  }
}

.footer-policies {
  width: 25%;

  @media (max-width: 768px) {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

}


.mapbox-container {
  border-radius: 10px;
  border: 1px solid #CED4DA;
  margin-right: 150px;
  width: 25%;
  height: auto;

  @media (max-width: 768px) {
    display: none;
  }
}
