.footer {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #CED4DA;
  max-height: 240px;

  p {
    margin: 0px;
  }
}

.footer-visit {
  width: 15%;
  margin-right: 50px;
}

.footer-opening-times {
  width: 25%;

  table {
    border-collapse: separate;
  }

  td {
    padding-right: 20px;
  }
}

.footer-other {
  width: 25%;
}


.mapbox-container {
  border-radius: 10px;
  border: 1px solid #CED4DA;
  margin-right: 150px;
}
