.form-container {
  width: 30vw;
  height: 60vh;
  align-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #CED4DA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
