.navbar-lewagon {
  justify-content: space-between;
  background: #F5F5F5;
  border-bottom: 1px solid #CED4DA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-right-container {
  align-items: center;
}
