.navbar-lewagon {
  justify-content: space-between;
  background: #F5F5F5;
  border-bottom: 1px solid #CED4DA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-right-container {
  display: flex;
  flex-direction: row;
}

.nav-list {
  align-items: center;

  .dropdown-menu {
    position: absolute;
    right: -10px;
    text-align: center;
    width: 20vw;
  }

}

.hamburger {
  display: none; // Hide initially

  .bar {
    width: 25px;
    height: 3px;
    background-color: $greytext;
    margin: 4px 0;
  }
}

@media (max-width: 768px) {
  // Show the hamburger icon on mobile devices
  .nav-item {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}
