.pricing-card {
  width: 325px;
  height: 65vh;
  border-radius: 10px;
  border: 1px solid #CED4DA;
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 60px;

  h3 {
    font-family: $body-font;
    font-size: 20px;
    font-weight: 900;
  }

  i {
    margin-right: 30px;
  }
}

.pricing-card-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
