<div class="m-3">
  <h2>Reports</h2>
  <div>
    <div>
    <%= link_to "Bookings", bookings_report_user_reports_path(current_user) %>
    </div>
    <div>
      <%= link_to "Users", users_report_user_reports_path(current_user) %>
    </div>
        <div>
      <%= link_to "Desks", desks_report_user_reports_path(current_user) %>
    </div>
  </div>
</div>
